/* css classes and id was rearanged, part of them canceled after cleaninig and rearaging html file
 id and classes was rearanged in position following semantic meanining and order of elements in html */
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:#d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
    
}
p {
    font-size: 16px;
}

header {
    
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #2a607c;
    color: #ffffff;
}
header h1 .seo{
    color: #d9dcd6;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*img height was changed from px->% for performance and accesebility purpose */
figure img {
    height: 45%;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*classes combined with the same attribute*/
.nav-bar-top{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #0072bb;
    color: #ffffff;
}
/* Set the float:left for all 3 images from class "nav-bar-top" */
.nav-bar-top img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}
/* Using the ID was set float:right for Online Reputation Management image*/
#online-reputation-management img{
    float: right;
}
/* For all h2 elements within class "nav-bar-top" was set the attributes*/
.nav-bar-top h2 {
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 36px;
}
/* Added attributes to tag <aside> */
aside {
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
    clear: both;
    float: right;
    width: 18%;
    height: 100%;
    text-align:left;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #2589bd;
}
/* Added margin to class "benefits" */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefits h4{
    padding-top: 35px;
    text-align:center;
}

.benefits h3{
    text-align:center;
}
.benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: center;
}
footer h2 {
    font-size: 20px;
}
